html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px
}




